<html> 
<style>
  #myTextBox1 { margin-left: 40px; }
 </style> 
<body> 
    <h3>Cricket Win Prediction</h3> 

<div> 
  <form action="/result" method="POST"> 
	<div class="rows">
		<div style="float:left; width:15%;">
			<label for="teamage">Average Team Age</label>
		</div>
		<div style="float:left; width:85%;">
			<input type="text" id="myTextBox1" name="teamage">
		</div>
	</div>
	<div class="rows">
		<div style="float:left; width:15%;">
			<label for="matchlight">Match Light Type</label>
		</div>
		<div style="float:left; width:85%;">
			<select id="myTextBox1" name="matchlight">
			  <option value="1">Day</option>
			  <option value="2">Day and Night</option>
			  <option value="3">Night</option>
			</select>
		</div>
	</div>
	<div class="rows">
		<div style="float:left; width:15%;">
			<label for="matchformat">Match Format</label>
		</div>
		<div style="float:left; width:85%;">
			<select id="myTextBox1" name="matchformat">
			  <option value="1">ODI</option>
			  <option value="2">T20</option>
			  <option value="3">Test</option>
			</select>
		</div>
	</div>
	<div class="rows">
		<div style="float:left; width:15%;">
			<label for="bowlers">Number of bowlers in the team</label>
		</div>
		<div style="float:left; width:85%;">
			<input type="text" id="myTextBox1" name="bowlers">
		</div>
	</div>
	<div class="rows">
		<div style="float:left; width:15%;">
			<label for="wcktkeep">Audience Number</label>
		</div>
		<div style="float:left; width:85%;">
			<input type="text" id="myTextBox1" name="wcktkeep" value="1" readonly style="background-color:#D3D3D3;font-weight:bold">
			<label for="wcktkeep-label">(Mode Value applied - Not editable)</label>
		</div>
	</div>
	<div class="rows">
		<div style="float:left; width:15%;">
			<label for="allrounder">Number of all-rounders in the team</label>
		</div>
		<div style="float:left; width:85%;">
			<select id="myTextBox1" name="allrounder">
			  <option value="1">1</option>
			  <option value="2">2</option>
			  <option value="3">3</option>
			  <option value="4">4</option>
			  <option value="5">5</option>
			</select>
		</div>
	</div>
	<div class="rows">
		<div style="float:left; width:15%;">
			<label for="firstselect">First Selection</label>
		</div>
		<div style="float:left; width:85%;">
			<select id="myTextBox1" name="firstselect">
			  <option value="1">Bowling</option>
			  <option value="2">Batting</option>
			</select>
		</div>
	</div>
	<div class="rows">
		<div style="float:left; width:15%;">
			<label for="opponent">Opponent</label>
		</div>
		<div style="float:left; width:85%;">
			<select id="myTextBox1" name="opponent">
			  <option value="1">Srilanka</option>
			  <option value="2">Zimbabwe</option>
			  <option value="3">Kenya</option>
			  <option value="4">Australia</option>
			  <option value="5">England</option>
			  <option value="6">South Africa</option>
			  <option value="7">Pakistan</option>
			  <option value="8">West Indies</option>
			  <option value="9">Bangladesh</option>
			</select>
		</div>
	</div>
	<div class="rows">
		<div style="float:left; width:15%;">
			<label for="season">Season</label>
		</div>
		<div style="float:left; width:85%;">
			<select id="myTextBox1" name="season">
			  <option value="1">Summer</option>
			  <option value="2">Winter</option>
			  <option value="3">Rainy</option>
			</select>
		</div>
	</div>
	<div class="rows">
		<div style="float:left; width:15%;">
			<label for="audience">Audience Number</label>
		</div>
		<div style="float:left; width:85%;">
			<input type="text" id="myTextBox1" name="audience" value="7063" readonly style="background-color:#D3D3D3;font-weight:bold">
			<label for="audience-label">(Minimum Value applied - Not editable)</label>
		</div>
	</div>
	<div class="rows">
		<div style="float:left; width:15%;">
			<label for="offshore">Within or Outide India</label>
		</div>
		<div style="float:left; width:85%;">
			<select id="myTextBox1" name="offshore">
			  <option value="0">Within India</option>
			  <option value="1">Outside India</option>
			</select>
		</div>
	</div>
	<div class="rows">
		<div style="float:left; width:15%;">
			<label for="highrun">Highest runs scored per over</label>
		</div>
		<div style="float:left; width:85%;">
			<input type="text" id="myTextBox1" name="highrun">
			<label for="highrun-label">(Maximum runs scored by the team in an over)</label>
		</div>
	</div>
	<div class="rows">
		<div style="float:left; width:15%;">
			<label for="maxwicket">Maximum wickets taken per over</label>
		</div>
		<div style="float:left; width:85%;">
			<select id="myTextBox1" name="maxwicket">
			  <option value="0">0</option>
			  <option value="1">1</option>
			  <option value="2">2</option>
			  <option value="3">3</option>
			  <option value="4">4</option>
			</select>
		</div>
	</div>
	<div class="rows">
		<div style="float:left; width:15%;">
			<label for="extraballs">Extra Balls Bowled</label>
		</div>
		<div style="float:left; width:85%;">
			<input type="text" id="myTextBox1" name="extraballs">
		</div>
	</div>
	<div class="rows">
		<div style="float:left; width:15%;">
			<label for="minrun">Min runs given by bowler per over</label>
		</div>
		<div style="float:left; width:85%;">
			<select id="myTextBox1" name="minrun">
			  <option value="0">0</option>
			  <option value="1">1</option>
			  <option value="2">2</option>
			  <option value="3">3</option>
			  <option value="4">4</option>
			  <option value="5">5</option>
			  <option value="6">6</option>
			</select>
		</div>
	</div>
	<div class="rows">
		<div style="float:left; width:15%;">
			<label for="minrunscore">Min runs scored by team per over</label>
		</div>
		<div style="float:left; width:85%;">
			<select id="myTextBox1" name="minrunscore">
			  <option value="0">0</option>
			  <option value="1">1</option>
			  <option value="2">2</option>
			  <option value="3">3</option>
			  <option value="4">4</option>
			  <option value="5">5</option>
			  <option value="6">6</option>
			</select>
		</div>
	</div>
	<div class="rows">
		<div style="float:left; width:15%;">
			<label for="maxrungiven">Highest runs given per over</label>
		</div>
		<div style="float:left; width:85%;">
			<input type="text" id="myTextBox1" name="maxrungiven">
			<label for="maxrungiven-label">(Maximum runs given by the bowler in an over)</label>
		</div>
	</div>
	<div class="rows">
		<div style="float:left; width:15%;">
			<label for="extraopponent">Extra balls bowled by opponent</label>
		</div>
		<div style="float:left; width:85%;">
			<input type="text" id="myTextBox1" name="extraopponent" value="0" readonly style="background-color:#D3D3D3;font-weight:bold">
			<label for="opponent-extra-label">(Assumed value of 0 applied - Not editable)</label>
		</div>
	</div>
	<div class="rows">
		<div style="float:left; width:15%;">
			<label for="highrunscore">Max runs by player in the match</label>
		</div>
		<div style="float:left; width:85%;">
			<input type="text" id="myTextBox1" name="highrunscore">
		</div>
	</div>
	<div class="rows">
		<div style="float:left; width:15%;">
			<label for="playerzero">Number of players with 0 runs</label> 
		</div>
		<div style="float:left; width:85%;">
			<select id="myTextBox1" name="playerzero"> 
			  <option value="0">0</option> 
			  <option value="1">1</option> 
			  <option value="2">2</option> 
			  <option value="3">3</option>  
			  <option value="4">4</option>
			  <option value="5">5</option>
			</select> 
		</div>
	</div>
	<div class="rows">
		<div style="float:left; width:15%;">
			<label for="maxwickettaken">Max wickets by a player in match</label>
		</div>
		<div style="float:left; width:85%;">
			<select id="myTextBox1" name="maxwickettaken">
			  <option value="0">0</option>
			  <option value="1">1</option>
			  <option value="2">2</option>
			  <option value="3">3</option>
			  <option value="4">4</option>
			  <option value="5">5</option>
			  <option value="6">6</option>
			</select>
		</div>
	</div>
	<div class="rows">
		<input type="submit" value="Submit" style="background-color:black; color:white;"> 
	</div>
  </form> 
</div>
</body> 
</html> 